{%extends 'base.html' %}

{%block title %} Home page {%endblock%}

{%block content %}

<div id="top-section" >

  <div id="backimg">  
    <h1 id="h1-center">Stock Market Simulator</h1>

    <h3 id="h3-center">Casual, fun way to practice trading amongst friends</h3>

    <h4 id="h4-center"> StockSim is free to join and use!!!</h4>


    <button  id="button">Get Started</button>
</div>
</div>



<div id="mid-section-1">
    <h2 style="color: rgb(10, 53, 117);;padding-top: 200px;font-weight: bold;font-size: 35px;">
        Practice stock trading by competing with friends 
        <br>
        and other users.
    </h2>

    <div id="paragraph">
        <p >Practice real stock trading with real randomized data without a need to risk your own money instead 
            <br>utilize virtual money to understand how the market works. Compete against other users and your 
            <br>friends to see who can create and have the best portfolio, and gain the 
            <br>confidence to eventually start trading in the real market with your own money.
        </p>
    </div>

    
</div>

<div id="mid-section-2">
    <h2 style="color: rgb(10, 53, 117);;padding-top: 200px;font-weight: bold;font-size: 
              35px; position: relative; left: 800px;">
        What is Offered?
    </h2>


<div id="paragraph-2">    
    <p>
        Once you create an account with us, each user will have their own specifc portfolio page that displays 
        <br> all current stocks and whether you are in profit or loss. There also will be a page dedicate to the 
        <br> stock market and displaying stocks with analysis and graphs. 
    </p>
</div>

</div>

{%endblock%}